* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

:root {
    --primary: #ff9a00;
    --primary-text-color: #f0ecec;
    --secondary-text-color: #9e9ea8;
    --durability-text-color: #6a737d9c;
    --icon-color: #6a737d;
    --border-color: #ff9a0045;
    --background-color: #141414;
    --block-color: #1d1d1d;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 900px;
}

.resume {
    margin: 50px auto;
    padding: 20px 30px;
    max-width: 900px;
    background-color: var(--block-color);
    border-radius: 12px;
}

.resume__title {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-text-color);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 2px;
}

.resume__job {
    text-align: center;
    margin-top: 2px;
    color: var(--secondary-text-color);
    font-weight: 500;
}

.resume__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    min-height: 200px;
    position: relative;
}

.resume__photo {
    border-radius: 50%;
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 0 4px var(--block-color), 0 0 0 8px var(--primary);
}

.resume__media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    color: var(--secondary-text-color);
}

.media i {
    margin-right: 8px;
}
